main {
	display: none;
}

.loader-area {
	position: relative;
	text-align: center;
	width: 30vmin;
	height: 10vh;
}
.loader-area img {
	margin-bottom: 4rem;
	width: 10vmin;
	animation: bounce 0.8s ease-in-out infinite;
}
h2,
h3 {
	font-weight: 500;
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}
.se-pre-con {
	display: grid;
	place-items: center;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: rgb(35, 0, 61);
	background: -moz-linear-gradient(
		0deg,
		rgba(35, 0, 61, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(35, 0, 61, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(35, 0, 61, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23003d",endColorstr="#000000",GradientType=1);
}
html,
body {
	scroll-behavior: smooth;
	width: 100%;
	overflow-x: hidden;
}
body {
	margin: 0;
	display: grid;
	place-items: center;
	background-image: url("../img/desktop.jpg");
	background-attachment: fixed;
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-size: 15px;
	font-family: "Koho";
	font-weight: lighter;
	color: white;
	box-sizing: border-box;
	overflow-y: hidden;
}
a {
	text-decoration: inherit;
	color: inherit;
}
a:hover {
	color: #5cc889;
}
main {
	place-items: center;
	max-width: 90vmin;
	min-height: 90vh;
	text-align: center;
}
main img {
	width: 35vmin;
}
footer {
	line-height: 1rem;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1rem;
	padding-top: 2rem;
	letter-spacing: 0.1rem;
	color: white;
}
button {
	text-align: center;
	font-size: 1.2rem;
	font-family: "Koho";
	font-weight: 500;
	border: 0;
	padding: 1rem;
	cursor: pointer;
	background-color: orange;
	color: white;
	border-radius: 1rem;
	text-decoration: none;
}
button:hover {
	background-color: orangered;
}

@media only screen and (max-width: 1400px) {
	body {
		overflow-y: scroll;
	}
}
@media only screen and (max-width: 992px) {
	body {
		background-image: url("../img/mobile.jpg");
		background-attachment: initial;
		background-size: cover;
	}
	.loader-area img {
		margin-bottom: 4rem;
		width: 20vw;
	}
	.body {
		font-size: 1px;
	}
	footer {
		font-size: 0.7rem;
	}
}
